.copyrights {
  padding: 8px;
  font-size: clamp(1.55rem, 4.3vw, 1.6rem);
  font-family: 'Montserrat';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #800f2f;
  gap: 4px;
  text-align: center;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.name {
  border-bottom: solid 1px #000;
  transition: color 0.3s;
}

.name:hover {
  cursor: pointer;
  color: #000;
}

.icon {
  font-size: 24px;
}
