.copyrights {
  padding: 8px;
  font-size: 1.6rem;
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b5de5;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

.name {
  border-bottom: solid 1px #9b5de5;
  transition: color 0.3s;
}

.name:hover {
  cursor: pointer;
  color: #9b5de5;
}
