.cartContainer {
  padding: 64px 32px;
  display: flex;
  justify-content: center;
  gap: 64px;
  font-size: 1.6rem;
  flex-grow: 1;
  background-color: #1e1e1e;
}

.orderSummaryContainer {
  display: flex;
  justify-content: center;
  width: 350px;
}

@media (max-width: 1100px) {
  .cartContainer {
    flex-direction: column;
    align-items: center;
    padding: 64px 16px;
  }
  .orderSummaryContainer {
    width: 80%;
  }
}
