.cartContainer {
  padding: 64px;
  display: flex;
  justify-content: center;
  gap: 64px;
  font-size: 1.6rem;
  flex-grow: 1;
}

@media (max-width: 1100px) {
  .cartContainer {
    flex-direction: column;
    align-items: center;
  }
}
