.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px 32px 64px;
}

.title {
  font-size: 4.8rem;
  color: #0f0f0f;
  -webkit-text-stroke: 2px #fff;
  letter-spacing: 4px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.card {
  max-width: 350px;
}
