.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px 32px 64px;
}

.title {
  font-size: clamp(3.5rem, 6vw, 4.8rem);
  color: #0f0f0f;
  -webkit-text-stroke: 2px #fff;
  letter-spacing: 4px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
}

.card {
  max-width: 350px;
}

@media (max-width: 1600px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .hide {
    display: none;
  }
}

@media (max-width: 1010px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .title {
    -webkit-text-stroke: 1.5px #fff;
  }

  .cards > :last-child {
    display: block;
  }
}
