.productList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px 32px 64px;
}

.title {
  font-size: 4.8rem;
  color: #0f0f0f;
  -webkit-text-stroke: 2px #fff;
  letter-spacing: 4px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.card {
  max-width: 350px;
  padding-bottom: 32px;
}
