.albumOfTheMonthContainer {
  background-color: #3f3a60fe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 32px;
  gap: 64px;
}

.albumCover {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  gap: 32px;
}

.albumTitle {
  font-size: clamp(2rem, 2vw, 3.2rem);
}

.albumArtist {
  font-size: clamp(1.8rem, 2vw, 2.4rem);
}

.textContainer {
  display: flex;
  flex-direction: column;
  max-width: clamp(30rem, 30vw, 53rem);
  gap: 8px;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
}

.textDescription {
  font-family: 'Montserrat';
  font-size: clamp(1.4rem, 4vw, 2rem);
  padding-bottom: 8px;
}

.discoverBtn {
  background-color: #00ada3;
  border: none;
  height: 40px;
  border-radius: 5rem;
  font-size: 1.8rem;
  width: 100%;
}

.discoverBtn:hover {
  cursor: pointer;
  background-color: #009790;
}

.toggleFirstBtn {
  display: none;
}
@media (max-width: 1005px) {
  .albumOfTheMonthContainer {
    flex-direction: column;
    gap: 32px;
  }
  .textContainer {
    order: -1;
    max-width: 700px;
    text-align: center;
  }

  .toggleFirstBtn {
    display: block;
  }

  .toggleSecondBtn {
    display: none;
  }
}
