.imageContainer {
  position: relative;
  max-width: 450px;
}

.text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 2.4rem;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 8px;
}

.textSecondary {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.6rem;
}
