.imageContainer {
  position: relative;
  max-width: 450px;
}

.text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 2.4rem;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 8px;
  z-index: 1;
}

.text {
  cursor: pointer;
}

.textSecondary {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.6rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay:hover,
.text:hover ~ .overlay {
  opacity: 0.5;
  background-color: #800f2f;
  cursor: pointer;
}
