.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 32px;
  background-color: #1e1e1e;
  gap: 16px;
  font-size: 1.6rem;
}

.title {
  text-align: center;
  font-size: clamp(1.5rem, 4.3vw, 2.4rem);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 650px;
}
.emailContainer {
  display: flex;
  gap: 16px;
}

.emailInput {
  flex-grow: 1;
  font-family: 'Montserrat';
  padding: 8px;
}

.signUpBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 24px;
  background-color: #00ada3;
}

.agreementContainer {
  display: flex;
  gap: 16px;
  font-family: 'Montserrat';
  padding-left: 1px;
}

@media (max-width: 595px) {
  .emailContainer {
    flex-direction: column;
    align-items: center;
  }
  .emailInput,
  .signUpBtn {
    width: 100%;
  }
}
