.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800f2f;
  font-family: 'Montserrat';
  font-size: clamp(1.6rem, 5vw, 2.4rem);
  text-align: center;
  padding: 8px;
}
