.tableContainer {
  max-width: 800px;
  flex-grow: 1;
}

.tableContainer h1 {
  font-size: clamp(2.8rem, 6vw, 3.2rem);
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid white;
}

th,
td {
  text-align: left;
  padding: 16px 8px;
}

table {
  width: 100%;
  max-width: 800px;
}

.subText {
  font-family: 'Montserrat';
}

.itemContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
}
.image {
  max-width: 100px;
}

.delete {
  display: flex;
  align-items: center;
  gap: 8px;
}

.deleteBtn {
  background: none;
  border: none;
  color: #fff;
  min-width: 24px;
}

.deleteBtn:hover {
  cursor: pointer;
}

.emptyMessage {
  text-align: center;
  padding: 64px;
  font-family: 'Montserrat';
  font-size: 1.6rem;
}

/*  mobile */

.firstPrice {
  display: none;
}

@media (max-width: 590px) {
  .tableContainer h1 {
    justify-self: center;
    padding-bottom: 16px;
  }
  thead {
    display: none;
  }
  .firstPrice {
    display: block;
  }

  .secondPrice {
    display: none;
  }
}
