.tableContainer {
  max-width: 800px;
  flex-grow: 1;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid white;
}

th,
td {
  text-align: left;
  padding: 16px 0;
}

table {
  width: 100%;
  max-width: 800px;
}

.subText {
  font-family: 'Montserrat';
}

.itemContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}
.image {
  max-width: 100px;
}

.delete {
  display: flex;
  align-items: center;
  gap: 8px;
}

.deleteBtn {
  background: none;
  border: none;
  color: #fff;
}

.deleteBtn:hover {
  cursor: pointer;
}
