.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 64px 32px;
}

@media (max-width: 1250px) {
  .category > :first-child {
    display: none;
  }
}
@media (max-width: 860px) {
  .category {
    flex-direction: column;
  }
}
