.navigationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.6rem;
  gap: 32px 64px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: clamp(1.4rem, 3.8vw, 2rem);
}

.list {
  list-style: none;
}
.listItem {
  font-family: 'Montserrat';
  padding-bottom: 2px;
}

.icons {
  display: flex;
  gap: 16px;
  font-size: 24px;
  justify-content: center;
}

/*  mobile */

.expandButton {
  background: none;
  border: none;
  color: #fff;
}

.expandButton:hover {
  cursor: pointer;
}

.expandIcon {
  display: none;
}

@media (max-width: 755px) {
  .navigationContainer {
    justify-content: flex-start;
  }
  .navigation {
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    padding: 0 32px;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .expandIcon {
    display: block;
    flex-shrink: 0;
  }

  .icons {
    padding-top: 8px;
  }

  .hide {
    display: none;
  }
}
