.navigation {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  padding: 32px;
  gap: 126px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list {
  list-style: none;
}
.listItem {
  font-family: 'Montserrat';
  padding-bottom: 2px;
}

.icons {
  display: flex;
  gap: 16px;
  font-size: 24px;
  justify-content: center;
}
