.count {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: flex-end;
  padding-bottom: 8px;
  font-size: 1.6rem;
}

.cartButton {
  width: 100%;
  height: 32px;
  background-color: #fee440;
  border: none;
  border-radius: 5rem;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.cartButton:hover {
  cursor: pointer;
  background-color: #fec240;
}

.quantityBtn {
  background: transparent;
  border: none;
  color: #fff;
}

.quantityBtn:hover {
  cursor: pointer;
}

.quantityBtn:disabled {
  cursor: not-allowed;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
