.count {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
}

.button {
  background: none;
  border: none;
  color: #fff;
  min-width: 24px;
}

.button:hover {
  cursor: pointer;
}
