.searchContainer {
  position: relative;
  font-family: 'Montserrat';
  width: 100%;
}

.searchIcon {
  position: absolute;
  bottom: 10px;
  left: 8px;
  color: #a4133c;
}

.search {
  padding: 8px;
  padding-left: 40px;
  font-size: 1.6rem;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.search::-webkit-search-cancel-button {
  cursor: pointer;
}
