.searchContainer {
  position: relative;
  font-family: 'Montserrat';
  width: 100%;
}

.searchIcon {
  position: absolute;
  bottom: 9px;
  left: 8px;
  color: #a4133c;
}

.search {
  padding: 8px;
  padding-left: 40px;
  font-size: 1.6rem;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.clearIcon {
  position: absolute;
  max-width: 24px;
  background: none;
  border: none;
  bottom: 9px;
  right: 8px;
  color: #fff;
}

.clearIcon:hover {
  cursor: pointer;
}
