.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  flex: 1;
  padding: 32px 16px;
}

.logo {
  color: #9b5de5;
  font-size: 4.8rem;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  font-size: 2.4rem;
}

.cartContainer {
  display: flex;
  gap: 8px;
}

.qunatity {
  background-color: #9b5de5;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Montserrat';
  padding: 16px;
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* @media (max-width: 800px) {
  .nav {
    flex-direction: column;
    justify-content: center;
  }
} */
