.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex: 1;
  padding: 32px 16px 16px 16px;
}

.searchDesktop {
  width: 100%;
  max-width: 300px;
}

.logo {
  color: #a4133c;
  font-size: clamp(3rem, 8vw, 4.8rem);
}

.list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  font-size: 2.4rem;
}

.cartContainer {
  display: flex;
  gap: 8px;
}

.qunatity {
  background-color: #800f2f;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Montserrat';
  padding: 16px;
  visibility: hidden;
}

.showContainer {
  visibility: visible;
}

.showIcon {
  visibility: visible;
}

/* mobile */

.menu {
  display: none;
}

.closeIcon {
  display: none;
}

@media (max-width: 1050px) {
  .nav {
    gap: 24px;
  }
  .menu {
    display: block;
  }
  .listContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    display: none;
    z-index: 1000;
  }

  .showContainer {
    display: block;
  }

  .closeIcon {
    display: flex;
    padding: 32px;
    justify-content: flex-end;
  }
  .list {
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 64px;
  }

  .qunatity {
    position: absolute;
    margin-left: 67px;
    width: 16px;
    height: 16px;
  }

  .button {
    background: none;
    border: none;
    color: #fff;
  }

  .button:hover {
    cursor: pointer;
  }
}

.searchMobile {
  display: none;
  width: 100%;
  max-width: 600px;
  padding: 0 32px 32px 32px;
}

@media (max-width: 800px) {
  .searchDesktop {
    display: none;
  }
  .searchMobile {
    display: block;
  }
}
