.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  flex: 1;
  padding: 32px 16px;
}

.logo {
  color: #9b5de5;
  font-size: 4.8rem;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  font-size: 2.4rem;
}
