.albumCover {
  width: 350px;
}

.albumTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  font-size: clamp(1.4rem, 1vw, 1.6rem);
  gap: 16px;
}

.ablumName {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.ablumName:hover {
  cursor: pointer;
  color: #00ada3;
}

.artistName,
.price {
  font-size: 1.6rem;
  font-family: 'Montserrat';
}

.albumCover:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .albumTitle {
    flex-direction: column;
    gap: 0;
  }
  .artistName {
    display: none;
  }
}
