.summaryContainer {
  font-family: 'Montserrat';
  width: 100%;
}

.title {
  text-align: center;
  padding-bottom: 16px;
  font-family: 'Science Gothic';
  font-size: clamp(1.8rem, 5.1vw, 2.4rem);
}

.price,
.vat,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.vat {
  border-bottom: 1px solid white;
}

.total {
  padding: 16px 0;
  font-family: 'Science Gothic';
  letter-spacing: 1px;
}

.checkoutBtn {
  background-color: #00ada3;
  width: 100%;
  padding: 8px;
  border-radius: 24px;
  border: none;
  font-family: 'Science Gothic';
  font-size: 1.8rem;
}

.checkoutBtn:hover {
  cursor: pointer;
  background-color: #009790;
}

.continue {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.continue p:hover {
  color: #a4133c;
}

@media (max-width: 1100px) {
  .cartContainer {
    flex-direction: column;
  }
  .summaryContainer {
    max-width: 700px;
    width: 100%;
  }
}
