.summaryContainer {
  font-family: 'Montserrat';
  max-width: 350px;
}

.title {
  text-align: center;
  padding-bottom: 16px;
  font-family: 'Akira Expanded';
  font-size: clamp(1.8rem, 5.1vw, 2.4rem);
}

.price,
.vat,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.vat {
  border-bottom: 1px solid white;
}

.total {
  padding: 16px 0;
  font-family: 'Akira Expanded';
  letter-spacing: 1px;
}

.checkoutBtn {
  background-color: #fee440;
  width: 100%;
  padding: 8px;
  border-radius: 24px;
  border: none;
  font-family: 'Akira Expanded';
}

.continue {
  text-align: center;
  padding: 16px;
  color: #9b5de5;
}

@media (max-width: 1100px) {
  .cartContainer {
    flex-direction: column;
  }
  .summaryContainer {
    max-width: 700px;
    width: 100%;
  }
}
